<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Calculator Test Suite" parallel="tests" thread-count="2">
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <classes>
            <class name="com.google.calculator.tests.ArithmeticOperationsTest"/>
        </classes>
    </test>
    <!-- Uncomment to run with Firefox as well
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="true"/>
        <classes>
            <class name="com.google.calculator.tests.ArithmeticOperationsTest"/>
            <class name="com.google.calculator.tests.SpecialFunctionsTest"/>
        </classes>
    </test>
    -->
</suite>